primary-image        cf3:/timos/
primary-config       cf3:/config.cfg
license-file         cf3:/license.txt
duplex               full
speed                100
wait                 3
persist              off
console-speed        115200
address          {{ vsr_mgmt }}/{{ mgmt_nm }}
{% if mgmt_static_rt_list is defined %}
{% for mgmt_static_rt in mgmt_static_rt_list %}
static-route {{ mgmt_static_rt }} next-hop {{ vsr_mgmt_gw }}
{% endfor %}
{% endif %}

